{% extends "base.html" %}

{% block title %}Новости{% endblock %}

{% block content %}
    <h1>Новости</h1>
    {% for post in post_all %}
        <div class="div-post">
            {% if request.user.username in post.user.username %}
                <a href="{% url 'blog:post_edit' post.id %}">Редактировать</a>
                <a href="{% url 'blog:delete' post.id %}">Удалить</a>
            {% endif %}
            <h1>
                <p class="username-post"><a href="{% url 'blog:profiles' post.user.id %}">{{ post.user }}</a></p>
                <p class="time-post">{{ post.created }}</p>
                <p class="title-post"><a href="{{ post.detail_absolute_url }}">{{ post.title }}</a></p>

            </h1>
            {% if post.image %}
            <img class="img-post" src="{{ post.image.url }}">
            {% endif %}
            <h2 class="body-post">{{ post.body| truncatewords:15 }}</h2>
            <div>
                <form action="{% url 'blog:likes' %}" method="post">
                    {% csrf_token %}
                    <p class="likes-post"><button class="like" type="submit" name="pk" data-post-id="{{ post.id }}">Нравится</button> -
                        <span id="{{ post.id }}">{{ post.likes.count }}</span></p>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}