{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}+++{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<script src="https://unpkg.com/@vkid/sdk@latest/dist-sdk/umd/index.js"></script>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'customer:news' %}">Мир блогов</a></span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "profile" %}class="selected"{% endif %}>
                <a href="{% url 'blog:profiles' request.user.id %}">Профиль</a></li>
            <li {% if section == "edit" %}class="selected"{% endif %}>
                <a href="{% url 'customer:edit' %}">Редактировать профиль</a></li>
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                {{ request.user.username|default:request.user.username }}
                <form action="{% url 'customer:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Выход</button>
                </form>
            {% else %}
                <a href="{% url 'customer:login' %}">Вход</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function () {
            $('.like').click(function (event) {
                event.preventDefault();
                let postId = this.getAttribute('data-post-id');
                $.ajax({
                    url: '/like/',
                    type: 'POST',
                    data: {'id': postId, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response) {
                        $('#' + postId).html(response['likes_count']);
                        console.log('Запрос выполнен успешно');
                        console.log(response['likes_count']);
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка запроса');
                        console.error(error);
                    }
                });
            });
            });
            $(document).ready(function () {
                $('.subscript').click(function (event) {
                    event.preventDefault();
                    let postId = this.getAttribute('data-post-id');
                    $.ajax({
                        url: '/subscription/',
                        type: 'POST',
                        data: {'id': postId, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function(response) {
                            $('#' + postId).html(response['sub']);
                            console.log('Запрос выполнен успешно');
                            console.log(response['sub']);
                        },
                        error: function(xhr, status, error) {
                            console.error('Ошибка запроса');
                            console.error(error);
                        }
                    });
                });
            });
    </script>
</body>
</html>